<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lethal Company</title>
    <link rel="stylesheet" href="../css/style.videojuegos.css" type="text/css">
    <link rel="icon" href="../img/iconos/Mundo.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div id="navbar" class="container-fluid">
          <a class="navbar-brand" id="texto-navbar" href="../index.html">WorldGame</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="opciones-navbar">
            <ol class="navbar-nav me-auto mb-2 mb-lg-0">
              <li id="opcion" class="nav-item">
                <a class="nav-link active" id="texto-navbar" aria-current="page" href="../view/videojuego1.html">GTA V</a>
              </li>
              
              <li id="opcion" class="nav-item">
                <a class="nav-link active" id="texto-navbar" href="../view/videojuego2.html">Red Dead Redemption II</a>
              </li>
              
              <li id="opcion" class="nav-item">
                <a class="nav-link active" id="texto-navbar" href="../view/videojuego3.html">Minecraft</a>
              </li>
              
              <li id="opcion" class="nav-item">
                <a class="nav-link active" id="texto-navbar" href="../view/videojuego4.html">Lethal Company</a>
              </li>
            
              <li id="opcion" class="nav-item">
                <a class="nav-link active" id="texto-navbar" href="../view/videojuego5.html">EA FC 24</a>
              </li>
            </ol>
          </div>
        </div>
    </nav>

    <div id="encabezado">
        <img id="imagen-encabezado" src="../img/encabezados/lethal.png" alt="No se ha podido cargar la iamgen">
        <p id="titulo-encabezado-blanco"><b>Lethal Company</b></p>
        <p id="texto-encabezado-blanco">Aquí te presentamos nuestro <b id="resaltado">TOP5</b> de juegos con la mejor valoración del mercado actual</p>
    </div>

    <div id="contenido">
        <div id="Título">
            <p>- Lethal Company -</p>
        </div>
        <div id="contenido-general">
            <div id="imagen">
                <img id="carcasa-lethal" src="../img/videojuegos/LethalCompany.png" alt="No se ha podido cargar la imagen">
                <div id="informacion">   
                    <p id="info-texto">Edad:</p><p id="info-texto-2">+16</p>
                </div>
                <div id="informacion">
                    <p id="info-texto">Categoria:</p><p id="info-texto-2">Terror - Supervivencia</p>
                </div>
                <div id="informacion">
                    <p id="info-texto">Director:</p><p id="info-texto-2">Zeekerss</p>
                </div>
                <div id="informacion">
                    <p id="info-texto">Plataformas:</p><p id="info-texto-2">PC</p>
                </div>

                <div id="cont-boton">
                    <a target="_blank" href="https://store.steampowered.com/app/1966720/Lethal_Company/"><button target="_blank" id="boton">¡Comprar YA!</button></a>
                </div>
              </div>
            <div id="descripción">
                <p>Trabajamos para una empresa que nos monta en una nave espacial y nos manda a explorar <b id="resaltado">lunas</b> para conseguir recursos con lo que puedan enriquecerse. Si al terminar el plazo marcado no hemos alcanzado el objetivo, nos eyectan de la nave y morimos. Por lo que en grupos de hasta cuatro personas debemos <b id="resaltado">explorar planetas</b> e <b id="resaltado">instalaciones</b> (que funcionan como <b id="resaltado">mazmorras</b>) para conseguir los recursos. El truco está en que no es fácil lograrlo porque dentro de los oscuros pasillos que recorremos encontramos a <b id="resaltado">auténticas monstruosidades</b> que nos matarán en un abrir y cerrar de ojos si no andamos con cuidado.</p>
                <div id="trailer">
                    <iframe width="710" height="399" src="https://www.youtube.com/embed/Su6OsTb1w9Q" title="Lethal Company - Official Trailer" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div id="carrusel">
            <div id="carrusel-contenido">
                <div id="carouselExampleIndicators" class="carousel slide">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="https://cdn.akamai.steamstatic.com/steam/apps/1966720/ss_1584a558381a387e7b09a2b1be5acb6c4a365bb7.1920x1080.jpg?t=1657302375" class="d-block w-100" alt="No se ha podido cargar la imagen">
                      </div>
                      <div class="carousel-item">
                        <img src="https://progameguides.com/wp-content/uploads/2023/11/lethal-company-hoarding-bug.jpg?w=900" class="d-block w-100" alt="No se ha podido cargar la imagen">
                      </div>
                      <div class="carousel-item">
                        <img src="https://www.kidsland.edu.vn/wp-content/uploads/2023/11/Is-Lethal-Company-on-Xbox-Lethal-Company-Wiki-Gameplay-and.webp.webp" class="d-block w-100" alt="No se ha podido cargar la imagen">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
            </div>
        </div>
    </div>
    <footer>
        <div  id="footer">
          <p>David Honorato y Jesús Fortea</p>
        </div>
      </footer>
</body>
</html>