<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Red Dead Redemption II</title>
    <link rel="stylesheet" href="../css/style.videojuegos.css" type="text/css">
    <link rel="icon" href="./img/iconos/Mundo.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div id="navbar" class="container-fluid">
          <a class="navbar-brand" id="texto-navbar" href="../index.html">WorldGame</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="opciones-navbar">
            <ol class="navbar-nav me-auto mb-2 mb-lg-0">
              <li id="opcion" class="nav-item">
                <a class="nav-link active" id="texto-navbar" aria-current="page" href="../view/videojuego1.html">GTA V</a>
              </li>
              
              <li id="opcion" class="nav-item">
                <a class="nav-link active" id="texto-navbar" href="../view/videojuego2.html">Red Dead Redemption II</a>
              </li>
              
              <li id="opcion" class="nav-item">
                <a class="nav-link active" id="texto-navbar" href="../view/videojuego3.html">Minecraft</a>
              </li>
              
              <li id="opcion" class="nav-item">
                <a class="nav-link active" id="texto-navbar" href="../view/videojuego4.html">Lethal Company</a>
              </li>
            
              <li id="opcion" class="nav-item">
                <a class="nav-link active" id="texto-navbar" href="../view/videojuego5.html">EA FC 24</a>
              </li>
            </ol>
          </div>
        </div>
    </nav>

    <div id="encabezado">
        <img id="imagen-encabezado" src="../img/encabezados/GTAV.png" alt="No se ha podido cargar la iamgen">
        <p id="titulo-encabezado"><b>Red Dead Redemption II</b></p>
        <p id="texto-encabezado">Aquí te presentamos nuestro <b id="resaltado">TOP5</b> de juegos con la mejor valoración del mercado actual</p>
    </div>

    <div id="contenido">
        <div id="Título">
            <p>- Red Dead Redemption II -</p>
        </div>
        <div id="contenido-general">
            <div id="imagen">
                <img src="../img/videojuegos/GTAV-carcasa.png" alt="No se ha podido cargar la imagen">
            </div>
            <div id="descripción">
                <p>Después de un robo sale mal en la ciudad occidental de Blackwater, Arthur Morgan y el Van der Linde gang son obligados a huir. Con los agentes federales y los mejores cazarrecompensas de la nación pisándole los talones, la pandilla debe robar, robar y abrirse camino a través del escarpado corazón de Estados Unidos para sobrevivir. A medida que las divisiones internas más profundas amenazan con destrozar a la pandilla, Arthur debe elegir entre sus propios ideales y lealtad a la pandilla que lo crió. Ubicado en la frontera estadounidense en 1899, Red Dead Redemption 2 sigue la historia de Arthur Morgan, un miembro de Holandés van der Linde's pandilla ilegal.</p>
            </div>
        </div>
    </div>
</body>
</html>